/*==================== Common Section Style ====================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  /* scroll-padding-top: 9rem; */
  scroll-behavior: smooth;
}


.button{
    text-decoration:none;
    color:#ffff;
    font-size:1.8rem;
    cursor: pointer;
    text-transform:uppercase;
    border-radius: 0.5rem;
    background-color: #EC5863;
    padding: 1rem 2rem;
    transition:all 0.5s;
}

.button:hover{
    background-color:#444444;
}



/*==================== Header Section Style====================*/
header{
    position:relative;
}


header .navBar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 5rem;
}

header .navBar .navLogo img{
    width: 25rem;
}


header .navBar .navLink ul{
    display:flex;
    justify-content: space-between;
}

header .navBar .navLink ul li{
    list-style:none;
    padding: 0 0.5rem;
    display: inline-block;
    position:relative;
}

header .navBar .navLink ul li a {
    text-decoration:none;
    color:#EC5863;
    font-size:1.8rem;
    cursor: pointer;
    text-transform:uppercase;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    transition:all 0.5s;
    border: solid 0.2rem transparent;
}

header .navBar .navLink ul li a:hover{
    color:#444444;
    border: solid 0.2rem #EC5863;
}

header .navBar .downloadButton a {
    text-decoration:none;
    color:#ffff;
    font-size:1.8rem;
    cursor: pointer;
    text-transform:uppercase;
    border-radius: 0.5rem;
    background-color: #4285F4;
    padding: 1rem 2rem;
    transition:all 0.5s;
}

header .navBar .downloadButton a:hover{
    background-color:#EC5863;
}

header .sliderContent {
    display:flex;
    justify-content:space-between;
    align-items: center;
    height: 85vh;
    padding:0 5rem;
}

header .sliderContent .sliderTitle h1{
    font-size: 8rem;
    color:#292929;
}
header .sliderContent .sliderTitle h1 span{
    color:#EC5863;
}

header .sliderContent .sliderTitle p{
    font-size: 2.1rem;
    width:70%;
    margin:1.2rem 0rem 3rem;
    color:#444444;
}

.pageClass{
    background: #4285F4 !important;
    margin:0rem 1.5rem !important;
    padding: 0.6rem !important;;
}

.currentPage .is-active{
    background: #EC5863 !important;
    transform: scale(1.5) !important;
}






/*==================== Features Section Style====================*/
.featuresContainer{
    padding: 0rem 15rem;
}

.featuresContainer .title {
    font-size: 6rem;
    text-align: center;
    text-transform: uppercase;
    margin:13rem 0rem 6rem;
    color:#444444;
}

.featuresContainer .title span{
    color:#EC5863;
}

.featuresContainer .row {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.featuresContainer .row .col{
    flex: 1 1 20rem;
}
.featuresContainer .row .col h3{
    font-size: 7rem;
    color:#292929;
}
.featuresContainer .row .col h3 span{
    color:#EC5863
}
.featuresContainer .row .col p{
    font-size: 2.5rem;
    padding: 1.2rem 0rem 2.5rem;
    color:#444444;
}



/*==================== OurNetwork Section Style====================*/
.ourNetwork {
    height: 50vh;
}
.ourNetwork .networkContainer{
    height: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    background-image: url(../images/OurNetwerkBG.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:75%;

}

.ourNetwork .title{
    font-size: 6rem;
    text-align: center;
    text-transform: uppercase;
    margin:13rem 0rem 6rem;
    color:#444444;
}

.ourNetwork .title span{
    color:#EC5863;                                               
}

.ourNetwork .networkContainer .networkContent{
    height:15rem;
    width:60%;
    background-color: #ffffff;
    box-shadow: 1px 3px 8px #70727491;
    border-radius: 2rem;
    display:flex;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .6rem;
}


.ourNetwork .networkContainer .networkContent .contentBox{
    padding:0rem 5rem;
    cursor: pointer;
}

.ourNetwork .networkContent .contentBox h1{
    font-size: 6rem;
    color: #EC5863;
    transition:all 0.5s;
}

.ourNetwork .networkContent .contentBox h4 {
    color:#444444;
    font-size: 1.8rem;
    transition:all 0.5s;
}
.ourNetwork .networkContent .contentBox:hover h1{
    color:#444444;
    transform:scale(1.2) translateY(-1rem);
}

.ourNetwork .networkContent .contentBox:hover h4{
    color:#EC5863;
}



/*==================== Expart Section Style====================*/

.expertsContainer{
    padding: 0rem 15rem;
    height:70vh;
}

.expertsContainer .title{
    font-size: 6rem;
    text-align: center;
    text-transform: uppercase;
    margin:20rem 0rem 6rem;
    color:#444444;
}

.expertsContainer .title span{
    color:#EC5863;
}

.expertsContainer .row {
    height:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
}
.expertsContainer .row .col{
    flex: 1 1 20rem;
}
.expertsContainer .row .col h1{
    font-size: 5rem;
    color:#292929;
}
.expertsContainer .row .col h1 span{
    color:#EC5863
}
.expertsContainer .row .col p{
    font-size: 2.2rem;
    padding: 1.2rem 0rem 2.5rem;
    color:#444444;
}



/*==================== HealthCare Section Style====================*/
.healthcareContainer{
    height:100vh;
    margin-top: 15rem;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    background-image: url(../images/healthcareBG.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:90%;
}
.healthcareContainer .healthCareText{
    text-align: center;
    color:#444444;
    width:60%;

}

.healthcareContainer .healthCareText h1{
    font-size: 4.5rem;
    text-transform: uppercase;
}

.healthcareContainer .healthCareText h1 span{
    color:#EC5863;
}

.healthcareContainer .healthCareText p{
    font-size: 2.2rem;
    color:#444444;
}

.healthcareContainer .healthCareBox{
    height: 60%;
    width: 80%;
    margin: 8rem 0rem 0rem; 
}

.healthcareContainer .healthCareBox .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.healthcareContainer .healthCareBox .row .col{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    text-align: center;
    background-color:#ffff;
    box-shadow: 3px 3px 10px #44444449;
    height:30rem;
    width:28.6rem;
    padding:0rem 3rem;
    border-radius:0.8rem;
}

.healthcareContainer .healthCareBox .row .col .colImage img{
     height:8rem;
     margin-bottom:1rem;
}

.healthcareContainer .healthCareBox .row .col .colText h3{
    font-size:2.3rem;
    margin:2rem 0rem;
    color:#444444;

}
.healthcareContainer .healthCareBox .row .col .colText p{
    font-size:1.5rem;
    margin-bottom:3rem;
    color:#444444;
}